.settings-wrapper{
    position: relative;
    float: right;
    visibility: hidden;
    background: #313131;
    border-bottom-left-radius: 10%;
    width: 200px;
    box-shadow: -4px 4px 10px 0px #1a1a1a;
    opacity: 0;
    z-index: 1;
}

.settings-elements-wrapper{
    margin: 5px;
    padding: 5px;
}

.node-el{
    text-shadow: 5px 5px 7px #1a1a1a;
    font-family: cursive;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
}

.node-name
{
    width: 150px;
    text-shadow: 5px 5px 7px #1a1a1a;
    font-family: cursive;
    background: #414141;
    border-radius: 10%;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    border: 0px;
}

#X, #Y, #W{
    width: 150px;
    text-shadow: 5px 5px 7px #1a1a1a;
    font-family: cursive;
    background: #414141;
    border-radius: 10%;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    border: 0px;
}

.set-wrapper{
    text-align: center;
}

.el-wrapper{
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.links-wrapper{
    margin: 3px;
    padding: 3px;
}

.node-link{
    cursor: pointer;
    text-shadow: 2px 2px 4px #1a1a1a;
    font-family: cursive;
    font-size: 14px;
    color: #ffffff;
    width:150px;
    background: #414141;
    border-radius: 10%;
    border: 0px;
}

.node-link:hover{
    text-shadow: 5px 5px 10px #1f1f1f;
}

.link-inf{
    text-shadow: 2px 2px 4px #1a1a1a;
    font-family: cursive;
    font-size: 14px;
    color: #ffffff;
    width:150px;
    background: #313131;
}
